.authorBox{
 
 border-radius:8px;
 /* margin: 5ch; */
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 row-gap: 8px;
 width:100%

  
}
.authorCard{ 
    width: 80%;
    text-align: center;
    border: solid #01201e;
    border-radius:17px;
    background-color: #fafcfd;
    margin: 3ch;
    padding-top: 4ch;

}
.authorCard>img{
    border-radius: 50px;
}
.authorCard>h2{
    font-family: 'Times New Roman', Times, serif;
    color:brown;
     

}
.SPAN{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(3, 3, 37);
    font-size: 100%;
    font-weight: bolder;
}

/* Tablet */
@media screen and ( min-width: 768px ) and ( max-width: 1023px ) {
    .authorBox{
        grid-template-columns: 1fr 1fr;
    }


}


/* Phone */
@media screen and ( max-width: 767px ) {

    .authorBox{
        grid-template-columns: 1fr;
    }
}