.bookBox{
    /* border: solid #000000; */
    border-radius:8px;
    margin: 5ch;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 8px;
    /* width: 100%; */
}
.bookCard{ 
text-align: center;
    border: solid #01201e;
    border-radius:17px;
    background-color: #fafcfd;
    margin: 3ch;
}
 .bookInfo>h2{
font-family:Verdana, Geneva, Tahoma, sans-serif;
 color: rgb(150, 118, 15);
 font-size: xx-large;
 text-decoration: underline;

}

.bookCard>img{
    padding: 2.5ch;
    width: 50%;
}
 
.bookCard>h2 ,h3,h4{
    font-family: cursive;
    color: cadetblue;

}
span{
    font-family:monospace;
    font-size: xx-large;
    color: rgb(7, 53, 54);
}

.bookForm{

    padding: 4ch;
    border: #101d97;
    margin-left: 30%;
    margin-right: 30%;
    border-radius:16px;
    text-align: center;
    background-color: #997fe04b;
}
.bookForm >input{

    padding: 1ch;
    border-radius: 8px !important;
    margin:2ch ;
    width:60%;
    color:#0d5761;
    font-family: cursive;
}

.bookForm>label{
    font-family:monospace;
    font-size: x-large;
    color:#941010;
}
.bookForm>button{
    padding:1ch;
    border-radius: 8px;
    width:30%;
    background-color:#6033db;
    color:wheat;
    font-family: cursive;
    cursor: pointer;
    margin:2ch;
}
.bookForm>button:hover{ 
    background:#270980;
    color:aliceblue;
    font-weight: bold;
     
}
.bookForm >h2{
    color:#410fd6dc;
    font-family:initial;
    font-size:xx-large;
    text-decoration: underline;
}
.btnDE{ 

    padding: 1ch;
    margin: 2ch;
    border-radius:8px;
    background:#941010;
    color:white;
    cursor: pointer;
    font-family: serif;
    font-size: larger;
    font-weight: bolder;
}
.btnDE:hover{ 
    background:#e60b0b;
    
}
  .btnEDIT{ 
    padding: 1ch;
    margin: 2ch;
    border-radius:8px;
    background:#f3c11c;
    color:rgb(68, 78, 11);
    cursor: pointer;
    font-family: serif;
    font-size: larger;
    font-weight: bolder;

  }
  .btnEDIT:hover{ 
      background-color: #6ddf39;
      color:#81660d;
  }
  .fullCard{
       margin-top: 10ch;
      border:solid #0d635dbe;
      border-width: 3ch;
      border-radius:8px;
      background:#0d746d83;
      display: grid;
      grid-template-columns: 1fr 1fr;
      /* margin:5ch; */
      padding: 5ch;
      margin-left: 15ch;
      margin-right: 15ch;
      padding-bottom: 20ch ;
  }
.fullInfo{
    margin-top: 4ch;
}

.fullInfo>h1{
    font-family: cursive;
    color:#e3ebec;
}
span{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(0, 123, 128);
    font-size: 100%;
}
.bookInfo{
    width: 90%;
     margin: 6ch;
    display: grid;
    gap: 8px;
    grid-template-columns: 1fr 1fr  1fr ;
    row-gap: 8px;

}
.CardInfo{
    border: solid rgb(137, 210, 223);
    background-color: rgb(212, 240, 240);
    border-radius: 16px;
    border-width: 2px;
    padding: 4ch;
    margin: 5ch;
    width: 80%;
    text-align: center;
}
.CardInfo>img{
    border-radius: 50px;

     
}
.CardInfo>p{
    font-family:'Times New Roman', Times, serif;
    color: #153605;
    font-size: 150%;
    font-weight: bolder;
     
     
}
.CardInfo>p>span{
    color: #297ece;
    text-shadow: 9px 7px 7px rgba(92,125,255,0.66); 

}
.fullImage>img{
    border-radius: 50px;
}
   .about{
       font-family:'Courier New', Courier, monospace;
     text-align: center;
     font-size: 300%;
     color: #297ece;
 
     text-shadow: 9px 7px 7px rgba(92,125,255,0.66); }

/* Tablet */
@media screen and ( min-width: 768px ) and ( max-width: 1023px ) {
   
   
    .bookBox{
        
        display: grid;
        grid-template-columns: 1fr 1fr ;
        
    }
    .bookForm{

        padding: 4ch;
         
        margin-left: 10%;
        margin-right: 10%;
        border-radius:16px;
        text-align: center;
       
    }
.fullCard{
    
    width: 80%;
    margin-left: 3ch;
}
    .fullInfo{
        
        margin-left: 3ch;
        width: 100%;
      
    }
    .bookInfo{
        width: 60%;
        
        display: grid;
        grid-template-columns: 1fr 1fr  ;
        row-gap: 8px;
    
    }
    .CardInfo{
          /* width: 60%; */
        
    }
}

/* Phone */
@media screen and ( max-width: 767px ) {

    .bookBox{
         
        display: grid;
        grid-template-columns: 1fr ;
        
    }
    .bookForm{

        padding: 4ch;
        
        margin-left: 5%;
        margin-right: 5%;
        border-radius:16px;
        text-align: center;
       
    }
    .fullCard{

        border:solid #0d635dbe;
        border-width: 3ch;
        border-radius:8px;
        background:#0d746d83;
        display: grid;
        grid-template-columns: 1fr ;
        text-align: center;
        /* margin:5ch; */
        margin-top: 20ch;
        margin-left: 4ch;
        margin-right: 0;
        width: 70%;
    }
.fullImage{
    padding: 3ch;
}
.fullInfo{
    padding-bottom: 10ch;
}

.bookInfo{
    width: 60%;
    
   
    grid-template-columns: 1fr;
      

}
.CardInfo{
      /* width: 90%; */
      margin-left: 4ch;
}

}