*{
  margin: 0;
  padding: 0;
}
.continer {
  display: grid;
  grid-template-columns: 80% 18%;
  grid-gap: 2%;
}
.main__authors {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2%;
}

.selected__author {
}

.author__card {
  position: relative;
  display: flex;
  flex-flow: column;
  text-align: center;
  align-items: center;
  width: 100%;
  margin: 15px;
}
.img {
  width: 100%;
  min-height: 150px;
  height: 150px;
  object-fit: fill;
  border-radius: 5px;
}
/* Book css */
.book__card {
}
.second__nav {
  margin-left: 25%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.Link_SecNav {
  text-decoration: none;
  font-weight: bold;
  color:white;

}

.delete__btn {
  /* background-color: rgba(255, 0, 0, 0.541);
  height: 50px;
  width: 100px;
  margin-top: 1%; */
  color:white;
  width: 90px;
  margin-top: 8px;
  border-radius: 4px;
  color: whitesmoke;
  background-color:#006669;
  padding: 10px;
  cursor: pointer;
}
.new__btn {
  /* background-color: rgba(0, 255, 0, 0.541);
  height: 50px;
  width: 100px;
  margin-top: 1%; */
  
  color:white;
  width: 90px;
  margin-top: 8px;
  border-radius: 4px;
  color: whitesmoke;
  background-color:#006669;
  padding: 10px;
  cursor: pointer;
  margin-top: 20%;
}
.new__btnn{
  color:white;
  width: 90px;
  margin-top: 8px;
  border-radius: 4px;
  color: whitesmoke;
  background-color:#006669;
  padding: 10px;
  cursor: pointer;
  margin-top: 20%; 
  margin-left: 60%;
}
.edit__btn {
  /* background-color: rgb(0, 0, 255, 0.541);
  height: 50px;
  width: 100px;
  margin-right: 1%;
  margin-top: 1%; */
  color:white;
  width: 90px;
  margin-top: 8px;
  border-radius: 4px;
  color: whitesmoke;
  background-color:#006669;
  padding: 10px;
  cursor: pointer;
}
/* Add Book Page Css */
.books_container{
  border: 2px solid;
  width:50%;

  padding: 5%;
  margin: 5%;
}
.addBookForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5%;
  margin: 5%;
  text-align: center;
  /*  */
 

}
.addBookForm2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.input__css {
  width: 30%;
  height: 30px;
  border: 2px solid;

}
.input__css2 {
  width: 100%;
  height: 20px;
}
/* NavBar css */
.continer__NavBar {
  display: flex;
  background-color: black;
  padding:18px;
  justify-content: flex-end;

}

.Link_Nav {
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  color: white;
  padding:7px;
  margin-right: 80px;
}

/* Home page css */

/* .HomePage {
  position: relative;
  background-image: url("https://assets.codepen.io/1025350/schitts-creek2.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 40px;
  width: 80%;
  margin: 20px;
}  */
.continer_HomePage{
  height: 100vh;
  background-color:rgb(227, 228, 232);
  padding:200px;

}

.imgParagraph {
  background-color:rgb(150, 181, 181);
  border: 2px solid rgb(147, 143, 150);
  width: 60%;
  margin: auto;
  font-size: 80px;
  color: rgb(225, 212, 207);
}
