* {
  margin: 0;
  padding: 0;
}
.continer {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 2%;
}
.main__authors {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2%;
  margin: 4px;
}



.author__card {
  position: relative;
  display: flex;
  flex-flow: column;
  text-align: center;
  align-items: center;
  width: 100%;
  margin: 15px;
  margin-left: 30%;
  border: 2px solid;
  padding:10px;

}
.img {
  width: 90%;
  margin: 4px;
  min-height: 150px;
  height: 150px;
  object-fit: fill;
}
.img__div {
  width: 250px;
}
.test{
  display: flex;
}
/* Book css */
.book__card {
  position: relative;
  display: flex;
  flex-flow: column;
  text-align: center;
  align-items: center;
  width: 100%;
  margin: 15px;
  margin-left: 30%;
  border: 2px solid;
  padding:10px;
}
.second__nav {
  text-align: center;
  margin:10px;
}
.Link_SecNav {
  text-decoration: none;
  font-weight: bold;
  color: white;
}
.Link_SecNavv{
  margin: 0px;
  color: white;
  text-decoration: none;
  width: 30px;

}
.Add-new-book{
  color: white;
  text-decoration: none;
}
.delete__btn {
  /* background-color: rgba(255, 0, 0, 0.541);
  height: 50px;
  width: 100px;
  margin-top: 1%; */
  color: white;
  width: 140px;
  margin: 2px;
  border-radius: 4px;
  color: whitesmoke;
  background-color: #006669;
  padding: 10px;
  cursor: pointer;
}
.new__btn {
  /* background-color: rgba(0, 255, 0, 0.541);
  height: 50px;
  width: 100px;
  margin-top: 1%; */

  color: white;
  width: 90px;
  margin-top: 8px;
  border-radius: 4px;
  color: whitesmoke;
  background-color: #006669;
  padding: 4px;
  cursor: pointer;
  margin-top: 10%;
}
.new__btnn {
  color: white;
  width: 150px;
  margin-top: 8px;
  border-radius: 4px;
  color: whitesmoke;
  cursor: pointer;
  margin-top: 10%;
  margin-left: 45%;
}
.edit__btn {
  /* background-color: rgb(0, 0, 255, 0.541);
  height: 50px;
  width: 100px;
  margin-right: 1%;
  margin-top: 1%; */
  color: white;
  width: 80px;
  margin: 2px;
  border-radius: 4px;
  color: whitesmoke;
  background-color: #006669;
  padding: 10px;
  cursor: pointer;
}
.all-btn{
  display: flex;
  justify-content:center;
  align-items: center;
  margin: 4px;
  gap: 2px;
}
/* Add Book Page Css */
.books_container {
  border: 2px solid;
  width: 50%;

  padding: 5%;
  margin: 5%;
}
.addBookForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3%;
  margin: 3%;
  text-align: center;
  border: 2px solid;
  background-color: rgb(212, 227, 230);
  /*  */
}
.addBookForm2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.input__css {
  width: 30%;
  height: 37px;
  border: 2px solid;
  border-radius: 25px;

}
.input__css2 {
  width: 100%;
  height: 20px;
  border: 2px solid;
  height: 30px;
}
/* NavBar css */
.continer__NavBar {
  display: flex;
  background-color: black;
  padding: 18px;
  justify-content: flex-start;
}

.Link_Nav {
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  color: white;
  padding: 7px;
  margin-right: 80px;
}

/* Home page css */

/* .HomePage {
  position: relative;
  background-image: url("https://assets.codepen.io/1025350/schitts-creek2.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 40px;
  width: 80%;
  margin: 20px;
}  */
.continer_HomePage {
  height: 100vh;
  background-color: rgb(227, 228, 232);
  padding: 200px;
}

.imgParagraph {
  background-color: rgb(150, 181, 181);
  border: 2px solid rgb(147, 143, 150);
  width: 60%;
  margin: auto;
  font-size: 80px;
  color: rgb(225, 212, 207);
}
