.addBook {
    background: red;
    position: fixed;
    width: 4%;
    border-radius: 50%;
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 79%;
    left: 90%;
    color: #FFF;
    cursor: pointer;
}